body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.crud-cards {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
}

#card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 20px;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
  width: calc(33.33% - 20px); /* Three cards per row with margin */
}

.card:hover {
  transform: scale(1.05);
}

/* Add your additional styling for card content here */

@media (max-width: 768px) {
  .card {
    width: calc(50% - 20px); /* Two cards per row with margin */
  }
}

@media (max-width: 480px) {
  .card {
    width: 100%; /* Single card per row with margin */
  }
}

.controls{
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls input {
  padding: 17px; /* Adjust padding to make it bigger */
  width: 200px; /* Set a longer width */
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.controls button {
  padding: 16px 16px; /* Adjust padding for other buttons */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
  background-color: white;
  border: 1px solid #ccc;
}

.controls button:hover{
  transform: scale(1.2);
  border: 1px solid #3f51b5;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2%;
  border: 1px solid #888;
  max-width: 70%;
  width: auto;
  max-height: 70%;
  height: auto;
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  gap: 5px; 
}

.modal-content label {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 5px; /* Riduce lo spazio sotto le label */
}

.modal-content input {
  height: 30px;
  margin-bottom: 10px; /* Riduce lo spazio sotto gli input */
}

.form-group {
  display: block;
  margin-bottom: 10px; /* Aggiungi spazio tra gli elementi */
}
.patientDropdown{
  height: 30px;
  margin-bottom: 10px;
}

.medicine-list-container {
  display: flex;
  flex-direction: column;
  max-height: 69px; /* Imposta l'altezza massima per mostrare solo due righe */
  height: 68px;
  padding: 4px;
  border: 1px solid #888;
  border-right: 0 solid;
  overflow-y: auto;
  grid-column: 2;
}

.medicine-list-container > div {
  display: flex;
  align-items: center; 
  margin-bottom: -10px;
}
.prescription-medicine-checkbox {
  margin-right: 5px; 
}

label {
  padding-bottom: 6px; 
}

.close {
  color: #3f51b5;
  position: absolute;
  top: -5px; /* 10px di spazio dal lato superiore */
  left: 5px; /* 10px di spazio dal lato sinistro */
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.close:hover::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -5px;
  right: -5px;
  bottom: 5px;
  background-color: #3f51b5; /* Colore dell'ombra */
  z-index: -1; /* Assicura che l'ombra sia dietro il pulsante */
  border-radius: 0px; /* Bordo arrotondato per l'ombra */
}

.close:hover {
  color: white; /* Cambia il colore del testo a bianco */
  cursor: pointer; /* Cambia il cursore a una manina */
}

#modalActionButton{
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  color: #FFFFFF;
  width: 90px;
  height: 40px;
  text-decoration: none;
  line-height: 1.2;
  font-weight: bold;
  font-family: "Encode Sans Condensed", sans-serif;
  font-size: 20px;
  background-color: #3f51b5;
  border-radius: 4px;
  padding: 0;
  border: 1px solid rgb(1, 73, 149);
  cursor: pointer;
 }
 #modalActionButton:hover {
  background-color: rgb(1, 73, 149);
  border-color: rgb(0, 61, 126);
 }

 #modalActionButton > strong {
  font-size: 20px;
 }
