<!--<div class="crud-cards">
    <div class="controls">
        <input type="text" id="searchInput" placeholder="Search">
        <button id="searchBtn">Search</button>
        <button id="backBtn" disabled>Back</button>
        <button id="addRowBtn">Add Card</button>
    </div>
    <div id="card-container" class="card-container">
            Card components will be dynamically added here 
    </div>
</div>

<div id="modal" class="modal">
    <div class="modal-content">
        <label for="cardName">Name:</label>
        <input type="text" id="cardName" placeholder="Enter name">
        <label for="cardDescription">Description:</label>
        <input type="text" id="cardDescription" placeholder="Enter description">
        <button id="modalActionButton">Add Card</button>
        <span class="close" id="closeModalBtn">&times;</span>
    </div>
</div>-->