<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTf-8" />
    <title>GP-Office</title>
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico" />
    <link rel="stylesheet" href="../static/css/card_style.css" />
    <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js"
    ></script>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <script src="../static/js/services/medicine_service.js"></script>
    <script src="../static/js/services/patient_service.js"></script>
    <script src="../static/js/services/prescription_service.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <div class="page">
      <header>
        General Practitioner's Office
      </header>

      <div id="nav-container">
        <div class="bg"></div>
        <button id="nav-bar" class="button icon-button" tabindex="0">
          <img
            class="icon-image"
            src="../static/images/icons/menu.png"
            alt="Menu"
          />
        </button>

        <div id="presentation-screen"></div>

        <div id="nav-content" tabindex="0">
          <ul>
            <li>
              <a
                href="/api/patient"
                onclick="route()"
                class="mostraSezione"
                data-target="sezione1"
              >
                <img
                  src="../static/images/icons/patient.png"
                  alt="patient-icon"
                  width="20px"
                  height="20px"
                />
                Patient
              </a>
            </li>
            <li>
              
              <a
                href="/api/medicine"
                onclick="route()"
                class="mostraSezione"
                data-target="sezione2"
              >
              <img src="../static/images/icons/medicine.png" alt="Medicine icon" width="20px" height="20px" margin="10px">  
              Medicine
            </a>
            </li>
            <li>
              <a
                href="/api/prescription"
                onclick="route()"
                class="mostraSezione"
                data-target="sezione3"
                >
                <img src="../static/images/icons/prescription-nav.png" alt="Prescription icon" width="20px" height="20px" margin="10px">
                Prescription
                </a>
            </li>
          </ul>
        </div>
      </div>
    <script type="text/javascript" src="../static/js/script.js"></script>
    <script src="../static/js/router.js"></script>
  </body>
</html>
