<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPOffice</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/medicine-style.css') }}">
</head>
<body>
    <h1>Medicine List</h1>
    <button onclick="reloadMedicine()">Reload Medicine</button>
    <!-- <div id="medicineList"></div> -->
    <table id="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>

    <h2>Add medicine</h2>
    <form id="addMedicineForm">
        <label for="name">Name:</label>
        <input type="text" id="name" name=name required>

        <br>

        <label for="description">Description:</label>
        <textarea id="description" name=description rows="4" required></textarea>

        <br>

        <button type="button" onclick="addMedicine()">Add medicine</button>
    </form>

    <h3>Get One Medicine</h3>
    <label for="id">ID Medicina:</label>
    <input type="text" id="medicineId" name="id" required>    
    <button type="button" onclick="getMedicineById()">Get One Medicine</button>   

    <div id="singleMedicine"></div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html> 
